* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }

main {
    width: 50vw;
    margin: 4vh;
    padding: 1em;
}

main:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

h1 {
    border: 2px dotted rgb(161, 24, 161);
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    }

p {
    display: grid;
        border: 2px solid tomato;
        padding: 20px;
    }

    h2 {
        border: 3px solid purple;
        border-radius: 25px;
        box-shadow: 0px 3px 10px rgb(161, 24, 161);;
    }

    h3 {
        border: 2px solid rgb(161, 24, 161);
        border-radius: 20px;       
        border-style: double;
        border-width: 15px;
        padding: 8px;
    }

        li {
			border-bottom: 3px solid rgb(133, 6, 6);
		}
 
        h6 {
            text-align: center;
            }